@model List<Pupil>

@{
}

<h2 class="text-center mb-5">Şagirdlər</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Pupils" asp-action="Create">Yeni əlavə et</a>
    </div>

    <div class="col">

    </div>
</div>

<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Şagirdin kodu</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Sinif</th>
            <th>İcraat</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var pupil in Model)
        {
            <tr>
                <td>@pupil.Id</td>
                <td>@pupil.PCode</td>
                <td>@pupil.PName</td>
                <td>@pupil.PSurname</td>
                <td>@pupil.PGrade</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Pupils" asp-action="Modify" asp-route-id="@pupil.Id">Dəyiş</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Pupils" asp-action="Delete" asp-route-id="@pupil.Id" onclick="return confirm('Cari şagirdi silməyinizə əminsinizmi?!')">Sil</a>
                </td>
            </tr>
        }
    </tbody>

</table>